body {
  background-image: linear-gradient(to bottom, #9795f0 0%, #fbc8d4 100%);
  min-height: 100vh;
}

.bitcoin-card {
  display: inline-block;
  margin: 0;
  width: 100%;
  max-height: 250px;
  vertical-align: top;
  padding: 1rem;
  transition: 300ms ease all;
}

.bitcoin-card:hover {
  transform: scale(1.1);
  transition: 300ms ease all;
}

.bitcoin-card .title {
  font-size: 1.2rem;
  text-align: center;
}

.bitcoin-card .subtitle {
  text-align: center;
}

.growth-plus {
  color: rgb(22, 196, 115);
  font-weight: 700;
}

.growth-minus {
  color: rgb(228, 84, 58);
  font-weight: 700;
}

.gradient-title {
  transform: skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 2.75rem;
  text-transform: uppercase;
  width: 40%;
  line-height: 1.95;
  text-align: center;
  z-index: 100;
  margin: 0 auto;
}

.gradient-title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 280%);
}

.input-center {
  text-align: center;
}

.input-reset {
  width: initial;
}

.field.has-addons.input-addon {
  justify-content: center;
}

.title {
  text-transform: capitalize;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.has-text-white {
  color: #fff;
}
